@import "tailwindcss";

@theme {
  --color-primary: #22C55E;
  --color-secondary: #3B82F6;
  --color-tertiary: #A855F7;
  --color-surface: #F3F4F6;
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-info: #3B82F6;

  --radius-bubble: 20px;
}